<div
  class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4"
>
@for (item of coolItems; track item.id) {
  <div class="card-container">
    <p-card
      [styleClass]="'shadow-lg overflow-hidden'"
      [header]="item.name"
      [subheader]="item.properties | appStringList"
    >
      <ng-template pTemplate="header">
        <img
          alt="Card"
          src="https://primefaces.org/cdn/primeng/images/card-ng.jpg"
        />
      </ng-template>
      <p>{{ item.description }}</p>
      <ng-template pTemplate="footer">
        <div class="flex  gap-3 mt-1 justify-cont-end">
          <p-button
            icon="pi pi-eye"
            size="small"
            (click)="itemSelected.emit(item)"
            />
            <p-button
            size="small"
            severity="danger"
            pRipple
            icon="pi pi-trash"
            (click)="itemDeleted.emit(item.id)"
          />
        </div>
      </ng-template>
    </p-card>
  </div>
  }
</div>
