:root {
  --background-color: rgba(	0, 139, 139, 0.3);
}
@import "primeicons/primeicons.css";

@layer tailwind-base, tailwind-utilities, primeng;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

@layer primeng {

}

.extra-small-button{
  height: 15px;
  width: 15px;
  padding: 5px;
  position: absolute;
  top: 5px;
  right: 5px;
  .p-button-icon{
    font-size: 8px;
  }
}

p-inputNumber{
  input{
    width: 100%;
  }
}

body {
  background-color: var(--background-color);
}


